_________________

Convert the Yelp Dataset Challenge dataset from json format to csv.

For more information on the Yelp Dataset Challenge please visit http://yelp.com/dataset_challenge

_____________________

# <strong> A - Importation de modules </strong>

In [1]:
import warnings
warnings.filterwarnings('ignore')

###################################

import pandas as pd
import numpy as np
import os
import random
import re

################################

import argparse
import collections
import csv
#!pip install simplejson
import simplejson as json
from sys import getsizeof

#########################################

import import_ipynb
from P6_01_My_functions_Kengni_zanguim_Brice_062022 import *

importing Jupyter notebook from P6_01_My_functions_Kengni_zanguim_Brice_062022.ipynb

# <strong> B - Conversion des fichiers JSON  en fichier CSV </strong>

In [2]:
convert_json = False

if convert_json :
    #   PHOTOS
    column_names = get_superset_of_column_names_from_file("photos.json")
    read_and_write_file("photos.json", "photos.csv", column_names)

    #   DATASET business
    column_names = get_superset_of_column_names_from_file("yelp_academic_dataset_review.json")
    read_and_write_file("yelp_academic_dataset_review.json", "yelp_academic_dataset_review.csv", column_names)

# <strong> C - Réduction de la taille de fichiers CSV et prétraitement </strong>

https://www.codementor.io/@guidotournois/4-strategies-to-deal-with-large-datasets-using-pandas-qdw3an95k

# <strong> C.1 - Reviews </strong>

In [3]:
data_reviews = pd.read_csv("dataset_review.csv")

In [4]:
data_reviews

,review_id,funny,useful,date,text,user_id,stars,business_id,cool
0,b'KU_O5udG6zpxOg-VcAEodg',0,0,b'2018-07-07 22:09:11',"b""If you decide to eat here, just be aware it ...",b'mh_-eMZ6K5RLWhZyISBhwA',3.0,b'XQfwVwDr-v0ZS3_CbbE5Xw',0
1,b'BiTunyQ73aT9WBnpR9DZGw',0,1,b'2012-01-03 15:28:18',"b""I've taken a lot of spin classes over the ye...",b'OyoGAe7OKpv6SyGZT5g77Q',5.0,b'7ATYjTIgM3jUlt4UM3IypQ',1
2,b'saUsX_uimxRlCVr67Z4Jig',0,0,b'2014-02-05 20:30:30',b'Family diner. Had the buffet. Eclectic assor...,b'8g_iMtfSiwikVnbP2etR0A',3.0,b'YjUWPpI6HXG530lwP-fb2A',0
3,b'AqPFMleE6RsU23_auESxiA',0,1,b'2015-01-04 00:01:03',"b""Wow! Yummy, different, delicious. Our fa...",b'_7bHUi9Uuf5__HHc_Q8guQ',5.0,b'kxX2SOes4o-D3ZQBkiMRfA',1
4,b'Sx8TMOWLNuJBWer-0pcmoA',0,1,b'2017-01-14 20:54:15',"b""Cute interior and owner (?) gave us tour of ...",b'bcjbaE6dDog4jkNY91ncLQ',4.0,b'e4Vwtrqf-wpJfwesgvdgxQ',1
...,...,...,...,...,...,...,...,...,...
6990275,b'H0RIamZu0B0Ei0P4aeh3sQ',2,1,b'2014-12-17 21:45:20',b'Latest addition to services from ICCU is App...,b'qskILQ3k0I_qcCMI-k6_QQ',5.0,b'jals67o91gcrD4DC81Vk6w',1
6990276,b'shTPgbgdwTHSuU67mGCmZQ',1,2,b'2021-03-31 16:55:10',"b""This spot offers a great, affordable east we...",b'Zo0th2m8Ez4gLSbHftiQvg',5.0,b'2vLksaMmSEcGbjI5gywpZA',2
6990277,b'YNfNhgZlaaCO5Q_YJR4rEw',0,1,b'2019-12-30 03:56:30',"b""This Home Depot won me over when I needed to...",b'mm6E4FbCMwJmb7kPDZ5v2Q',4.0,b'R1khUUxidqfaJmcpmGd4aw',0
6990278,b'i-I4ZOhoX70Nw5H0FwrQUA',0,1,b'2022-01-19 18:59:27',b'For when I\'m feeling like ignoring my calor...,b'YwAMC-jvZ1fvEUum6QkEkw',5.0,b'Rr9kKArrMhSLVE9a53q-aA',0
6990279,b'RwcKOdEuLRHNJe4M9-qpqg',3,10,b'2018-01-02 22:50:47',"b""Located in the 'Walking District' in Nashvil...",b'6JehEvdoCvZPJ_XIxnzIIw',3.0,b'VAeEXLbEcI9Emt9KGYq9aA',7

In [5]:
start_size = round(getsizeof(data_reviews)/(1024.0**3),2)

In [6]:
print(f"Taille initiale du fichier : {start_size} GB " )

Taille initiale du fichier : 6.43 GB

In [7]:
data_reviews.dtypes

review_id       object
funny            int64
useful           int64
date            object
text            object
user_id         object
stars          float64
business_id     object
cool             int64
dtype: object

In [8]:
data_reviews.describe()

              funny        useful         stars          cool
count  6.990280e+06  6.990280e+06  6.990280e+06  6.990280e+06
mean   3.265596e-01  1.184609e+00  3.748584e+00  4.986175e-01
std    1.688729e+00  3.253767e+00  1.478705e+00  2.172460e+00
min   -1.000000e+00 -1.000000e+00  1.000000e+00 -1.000000e+00
25%    0.000000e+00  0.000000e+00  3.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  4.000000e+00  0.000000e+00
75%    0.000000e+00  1.000000e+00  5.000000e+00  0.000000e+00
max    7.920000e+02  1.182000e+03  5.000000e+00  4.040000e+02

## <strong>  C.1.1 - Variables non essentielles </strong>

In [9]:
useless = ["funny", "useful", "cool" ,"user_id" , "date" , "business_id"]
for i in useless : 
    if i in data_reviews.columns : data_reviews.drop( i ,axis = 1 , inplace = True)

In [10]:
size = round(getsizeof(data_reviews)/1024.0**3,2)
print(f"- Taille initiale : {start_size} GB\n- Taille actuelle : {size} GB \n- La taille du fichier a été réduite de  {round((1- size/start_size)*100,2)} % ")

- Taille initiale : 6.43 GB
- Taille actuelle : 4.69 GB
- La taille du fichier a été réduite de  27.06 %

In [11]:
data_reviews

,review_id,text,stars
0,b'KU_O5udG6zpxOg-VcAEodg',"b""If you decide to eat here, just be aware it ...",3.0
1,b'BiTunyQ73aT9WBnpR9DZGw',"b""I've taken a lot of spin classes over the ye...",5.0
2,b'saUsX_uimxRlCVr67Z4Jig',b'Family diner. Had the buffet. Eclectic assor...,3.0
3,b'AqPFMleE6RsU23_auESxiA',"b""Wow! Yummy, different, delicious. Our fa...",5.0
4,b'Sx8TMOWLNuJBWer-0pcmoA',"b""Cute interior and owner (?) gave us tour of ...",4.0
...,...,...,...
6990275,b'H0RIamZu0B0Ei0P4aeh3sQ',b'Latest addition to services from ICCU is App...,5.0
6990276,b'shTPgbgdwTHSuU67mGCmZQ',"b""This spot offers a great, affordable east we...",5.0
6990277,b'YNfNhgZlaaCO5Q_YJR4rEw',"b""This Home Depot won me over when I needed to...",4.0
6990278,b'i-I4ZOhoX70Nw5H0FwrQUA',b'For when I\'m feeling like ignoring my calor...,5.0
6990279,b'RwcKOdEuLRHNJe4M9-qpqg',"b""Located in the 'Walking District' in Nashvil...",3.0

## <strong> C.1.2 - Duplicatas </strong>

In [12]:
data_reviews.duplicated("review_id").mean()

0.0

In [13]:
if "review_id" in data_reviews.columns : data_reviews.drop( "review_id" , axis = 1 , inplace = True )

In [14]:
size = round(getsizeof(data_reviews)/1024.0**3,2)
print(f"- Taille initiale : {start_size} GB\n- Taille actuelle : {size} GB \n- La taille du fichier a été réduite de  {round((1- size/start_size)*100,2)} % ")

- Taille initiale : 6.43 GB
- Taille actuelle : 4.16 GB
- La taille du fichier a été réduite de  35.3 %

## <strong> C.1.3 - Variables entières </strong>

In [15]:
data_reviews.stars = data_reviews.stars.astype("uint8")

In [16]:
size = round(getsizeof(data_reviews)/1024.0**3,2)
print(f"- Taille initiale : {start_size}GB\n- Taille actuelle : {size} GB \n- La taille du fichier a été réduite de  {round((1- size/start_size)*100,2)} % ")

- Taille initiale : 6.43GB
- Taille actuelle : 4.11 GB
- La taille du fichier a été réduite de  36.08 %

## <strong> C.1.4 - sampling ( Mauvais avis) </strong>

In [17]:
#  Je retiens uniquement les mauvais avis
data_reviews = data_reviews[data_reviews.stars == 1]

In [18]:
#  Je réduis le nombre d'avis à un certains pourcentage
data_reviews = sampling_data(datas = data_reviews , proportion=0.2)

In [19]:
size = round(getsizeof(data_reviews)/1024.0**2,2)
print(f"- Taille initiale : {start_size} GB\n- Taille actuelle : {size} MB \n- La taille du fichier a été réduite de  {round((1- (size/1024.0)/start_size)*100,2)} % ")

- Taille initiale : 6.43 GB
- Taille actuelle : 1.59 MB
- La taille du fichier a été réduite de  99.98 %

# <strong> C.1.5 - Reformatage des variables `Str` </strong>

In [20]:
data_reviews = bytes_to_str( data_reviews, ["text"] )

In [21]:
data_reviews

                                                      text  stars
966      this place SUCKS. Terrible service and overpri...      1
7563     Definitely should have read the reviews first....      1
12578    Place is such a RIP OFF! Their mechanics are t...      1
15208    DO NOT GO HERE THEY ARE THE WORST  GO TO MASSA...      1
15740    What a drag. Entrees (bolognese and lasagne) a...      1
...                                                    ...    ...
6979665  The service stinks at this location they have ...      1
6980706  Wasted a good 25 minutes of my time and compan...      1
6981059  They claimed my wheels were too big to fit in ...      1
6983971  Discriminates, Unlawful, Disgrace!\nJuwan has ...      1
6985298  We had a big issue with someone else order bei...      1

[2139 rows x 2 columns]

# <strong> C.1.6 - Suppression des `\\` et `\\\'` </strong>

In [22]:
#data_reviews.text = data_reviews.text.apply(lambda x : x.replace( "\\n","" ).replace( "\\\'","'" ))

In [23]:
data_reviews.drop( columns="stars" , inplace = True)

## <strong> C.1.6 - Ecriture de fichier </strong>

In [24]:
data_reviews.to_csv("data_reviews_legers.csv", index =False)

# <strong> C.2 - Photos </strong>

In [25]:
data_photos = pd.read_csv("photos.csv")

In [26]:
data_photos

,business_id,label,caption,photo_id
0,b'Nk-SJhPlDBkAZvfsADtccA',b'inside',b'Nice rock artwork everywhere and craploads o...,b'zsvj7vloL4L5jhYyPIuVwg'
1,b'yVZtL5MmrpiivyCIrVkGgA',b'outside',b'',b'HCUdRJHHm_e0OCTlZetGLg'
2,b'_ab50qdWOk0DdB6XOrBitw',b'drink',b'oyster shooter',b'vkr8T0scuJmGVvN2HJelEA'
3,b'SZU9c8V2GuREDN5KgyHFJw',b'food',b'Shrimp scampi',b'pve7D6NUrafHW3EAORubyw'
4,b'Gzur0f0XMkrVxIwYJvOt2g',b'food',b'',b'H52Er-uBg6rNrHcReWTD2w'
...,...,...,...,...
200095,b'2HxkdqHmbYGj_BH1bLaiSw',b'food',b'#Nektar',b'4Zia9NkAfQNjMfcIDhwJ-g'
200096,b'_gVyuTRb_6HM-SNtqbpevQ',b'inside',b'',b'KB96KRZRhRm8hUkI-OpGEA'
200097,b'NUyEOjfAl3HvkpzSpdwqeA',b'food',b'',b'Klmojvaf2_2dP1XKzTsFmQ'
200098,b'hE6YsHHV0fCz_UrGS4o6VA',b'drink',b'Drinks by the water!',b'FNEiq7Mogec7t31OaU5juw'
200099,b'VIYvcX9SScnqmoI0so1KZA',b'food',b'',b'NHEtLh7APk7Yssjo0h45VA'

In [27]:
data_photos.label.value_counts()

b'food'       108152
b'inside'      56031
b'outside'     18569
b'drink'       15670
b'menu'         1678
Name: label, dtype: int64

In [28]:
size_i = round(getsizeof(data_photos)/1024.0**2 , 2 )

In [29]:
print(f"Taille actuelle du fichier : {size_i} Gb ")

Taille actuelle du fichier : 58.06 Gb

# <strong> C.2.1 - Variables non pertinentes </strong>

In [30]:
useless = ["business_id","caption"]
for i in useless : 
    if i in data_photos.columns : data_photos.drop( columns=i , inplace=True )

In [31]:
size = round(getsizeof(data_photos)/1024.0**2,2)
print(f"- Taille initiale : {size_i} MB\n- Taille actuelle : {size} MB \n- La taille du fichier a été réduite de  {round((1- size/size_i)*100,2)} % ")

- Taille initiale : 58.06 MB
- Taille actuelle : 28.04 MB
- La taille du fichier a été réduite de  51.71 %

In [32]:
data_photos

             label                   photo_id
0        b'inside'  b'zsvj7vloL4L5jhYyPIuVwg'
1       b'outside'  b'HCUdRJHHm_e0OCTlZetGLg'
2         b'drink'  b'vkr8T0scuJmGVvN2HJelEA'
3          b'food'  b'pve7D6NUrafHW3EAORubyw'
4          b'food'  b'H52Er-uBg6rNrHcReWTD2w'
...            ...                        ...
200095     b'food'  b'4Zia9NkAfQNjMfcIDhwJ-g'
200096   b'inside'  b'KB96KRZRhRm8hUkI-OpGEA'
200097     b'food'  b'Klmojvaf2_2dP1XKzTsFmQ'
200098    b'drink'  b'FNEiq7Mogec7t31OaU5juw'
200099     b'food'  b'NHEtLh7APk7Yssjo0h45VA'

[200100 rows x 2 columns]

# <strong> C.2.2 - Reformatage des variables `Str` </strong>

In [33]:
data_photos = bytes_to_str(data_photos, ["label","photo_id"])

In [34]:
data_photos.photo_id = data_photos.photo_id.apply(  lambda x : x+".jpg")

In [35]:
bytes_to_str(data_photos, ["photo_id"])
data_photos

          label                    photo_id
0        inside  zsvj7vloL4L5jhYyPIuVwg.jpg
1       outside  HCUdRJHHm_e0OCTlZetGLg.jpg
2         drink  vkr8T0scuJmGVvN2HJelEA.jpg
3          food  pve7D6NUrafHW3EAORubyw.jpg
4          food  H52Er-uBg6rNrHcReWTD2w.jpg
...         ...                         ...
200095     food  4Zia9NkAfQNjMfcIDhwJ-g.jpg
200096   inside  KB96KRZRhRm8hUkI-OpGEA.jpg
200097     food  Klmojvaf2_2dP1XKzTsFmQ.jpg
200098    drink  FNEiq7Mogec7t31OaU5juw.jpg
200099     food  NHEtLh7APk7Yssjo0h45VA.jpg

[200100 rows x 2 columns]

# <strong> C.2.3 - Conversion des label en catégories </strong>

In [36]:
data_photos.label = data_photos.label.astype("category")

In [37]:
size = round(getsizeof(data_photos)/1024.0**2,2)
print(f"- Taille initiale : {size_i} MB\n- Taille actuelle : {size} MB \n- La taille du fichier a été réduite de {round((1- size/size_i)*100,2)} % ")

- Taille initiale : 58.06 MB
- Taille actuelle : 16.03 MB
- La taille du fichier a été réduite de 72.39 %

# <strong> C.2.4 - Selection de 200 photos par categorie </strong>

# <strong> C.2.5 - Sauvegarde de données </strong>

In [38]:
data_photos.to_csv( "photos_leger.csv" , index = False)